body {
  background: #7f8b91;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene {
  perspective: 8000px;
  width: 600px;
  height: 600px;
}

.scene * {
  transform-style: preserve-3d;
}

@keyframes rotate {
  from {
    transform: rotateX(65deg) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(65deg) rotateZ(360deg) rotateY(0deg);
  }
}

.world {
  position: relative;
  width: calc(4 * 50px);
  height: calc(4 * 50px);
  transform-style: preserve-3d;
  transform: rotateX(65deg) rotateZ(45deg);
  transform-origin: center center;
  animation: rotate 20s linear infinite;
}

.layer {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--z) * 50px));
}

.cube {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.face {
  position: absolute;
  inset: 0;
  background: #34dcf6;
  border: 1px solid #34dcf6;
}

.face.top {
  transform: translateZ(25px);
  background: #00feba;
}

.face.right {
  transform: rotateY(90deg) translateZ(25px);
  background: #00feba;
}

.face.left {
  transform: rotateX(90deg) translateZ(25px);
  background: #00feba;
}

.face.bottom {
  transform: rotateX(-90deg) translateZ(25px);
  background: #00feba;
}

.face.front {
  transform: translateZ(25px);
  background: #00feba;
}

.face.back {
  transform: rotateY(-90deg) translateZ(25px);
  background: #00feba;
}

/* Compass Styles */
.compass-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  perspective: 500px;
}

.compass-container * {
  transform-style: preserve-3d;
}

.compass {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(65deg) rotateZ(45deg);
  transform-origin: center center;
  animation: rotate 20s linear infinite;
}

.axis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.axis-line {
  width: 5px;
  height: 60px;
  position: absolute;
  top: -60px;
  left: -1.5px;
}

.axis-label {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  font-family: system-ui, sans-serif;
}

/* X Axis - Red */
.x-axis {
  transform: rotateZ(-90deg);
}

.x-axis .axis-line {
  background: linear-gradient(to top, rgba(255, 50, 50, 0.3), #ff3232);
}

.x-axis .axis-label {
  color: #ff3232;
}

/* Y Axis - Green */
.y-axis {
  transform: rotateX(0deg);
}

.y-axis .axis-line {
  background: linear-gradient(to top, rgba(100, 200, 100, 0.3), #64c832);
}

.y-axis .axis-label {
  color: #64c832;
}

/* Z Axis - Blue */
.z-axis {
  transform: rotateX(90deg);
}

.z-axis .axis-line {
  background: linear-gradient(to top, rgba(50, 150, 255, 0.3), #3296ff);
}

.z-axis .axis-label {
  color: #3296ff;
}
